{{#if comments}}
    <section class="gh-comments gh-canvas">
        <header class="gh-comments-header">
            <h3 class="gh-comments-title related-title">Member discussion</h3>
            <div class="gh-comments-count">{{comment_count}}</div>
        </header>
        {{comments}}
    </section>
{{/if}}